<div class="hero-unit">
	<h1>Get it!</h1>
	<p>
		You found us!

	<%= link_to "One Month Rails", "http//northcook.com" %>

	</p>
	<p>
<%= link_to "Sign Up Now!", "Signup" , class: "btn btn-inverse btn large" %>
	</p>
</div>
