<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @film.description %>
            </p>
            <%= link_to 'Edit', edit_film_path(@film) %> |
            <%= link_to 'Back', films_path %>
        </div>
    </div>
</div>